

<div class="container-fluid container-fluid-custom pb-5 mb-5">

    <div class="row mb-4">
        <div class="col-12">


            <div class="col-12 d-flex flex-column flex-md-row justify-content-between align-items-center">
                <h1 class="h4">View Note</h1>
                <div class="d-flex mt-3 mt-md-0">
                    <button class="btn btn-success me-2" id="copyButton"><span class="material-symbols-outlined">
                        share
                        </span></button>
                    </button>
                </div>
            </div>

        </div>
    </div>

   
        <div class="form-group mb-4 position-relative">
            <label type="text" class="fs-2 fw-bold "  id="title" name="title">
                <%= note.title %>
            </label>
        </div>

        <div class="form-group mb-4">
            <textarea readonly class="form-control pt-5 fs-4" id="body" name="body" placeholder="Take a note..."
                rows="12"><%= note.body %></textarea>
        </div>

       

</div>



<span style="display: none;" id="textToCopy"><%= Domain %>/dashboard/view/<%= noteID %></span>







<script>
    document.getElementById('copyButton').addEventListener('click', function () {
   
        
        var text = document.getElementById('textToCopy').innerText;

    
        
        var tempTextarea = document.createElement('textarea');
        tempTextarea.value = text;
        document.body.appendChild(tempTextarea);
        tempTextarea.select();
        document.execCommand('copy');
        document.body.removeChild(tempTextarea);

        
        
        alert('Link Copied');
    });
</script>


